{% extends 'base.html' %}

<head>
	<title>Магазин</title>
</head>
<body>
	{% block menu%}
		<div class="header clearfix">
			<p class="logo"></a>
			<ul class="menu">
				<li><a href="{% url 'home' %}" class="active">домой</a></li>
				<li><a href="{% url 'product' %}">продукты</a></li>
				<li><a href="{% url 'contact' %}">контакты</a></li>
			</ul>
			<a href="#" class="search"></a>
		</div>
	{% endblock menu %}

	{% block content %}
	<div class="slider">
		<div class="text-slider">
			<h3 class="green">тенденции</h3>
			<h3 class="big"> удобные стулья</h3>
			<p>Новый уровень комфорта. Отличные характеристики.</p>
			<a href="#" class="button-order">заказать <img src="img/arrow.png" alt=""></a>
		</div>	
		<div class="navi">
			<a href="#"></a><a href="#"></a><a href="#"></a>
		</div>
	</div>

	<div class="featured">
		<div class="featured-menu">
				<a class="active" href="#">Популярные</a><a href="#">Новинки</a>
		</div>
		<a class="explore" href="#">показать все <img src="img/arrow.png" alt=""></a>
		<div class="clearfix">
		</div>
		<div class="tab-content">
			<div class="block">
			</div>
			<div class="block">
			</div>	
		</div>
	</div>
	{% endblock content %}
</body>
